<h1>Listing all Questions</h1>

<%= @quote.body %>

<%= form_for :question, :html => {:id => "new-question", "data-url" => questions_path} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


<script id="new_question_template" type="text/x-handlebars-template">

    <tr>
      <td>{{response.title}}</td>
      <td>{{response.body}}</td>
      <td id="{{response.id}}">{{response.votes}}</td>
      <td><%= link_to "Show", "/questions/{{response.id}}" %></td>

      <td><%= link_to "Edit", "/questions/{{response.id}}/edit" %></td>
      <td><%= link_to 'Destroy', "/questions/{{response.id}}",
            method: :delete,
            data: {confirm: 'Are you sure'} %> </td>

      <td><%= button_tag "UpVote", 'data-url' => "/questions/{{response.id}}/upvote", :class =>"upvote"%></td>
      <td><%= button_tag "DownVote", 'data-url' => "/questions/{{response.id}}/downvote", :class =>"downvote"%></td>
    </tr>

</script>


<div class="container">

  <table>
    <tr id="results">
      <th> Title</th>
      <th> Text </th>
      <th> Votes </th>
    </tr>

    <% @questions.reverse.each do |question| %>
      <tr>
        <td> <%= question.title %> </td>
        <td> <%= question.body %> </td>
        <td id= "<%= question.id %>"> <%= question.votes %> </td>

        <td> <%= link_to 'Show', question_path(question) %> </td>
        <td> <%= link_to 'Edit', edit_question_path(question) %> </td>
        <td> <%= link_to 'Destroy', question_path(question),
              method: :delete,
              data: {confirm: 'Are you sure'} %> </td>

        <td> <%= button_tag("UpVote", 'data-url' => upvote_question_path(question), :class =>"upvote")%> </td>
        <td> <%= button_tag("DownVote", 'data-url' => downvote_question_path(question), :class =>"downvote")%> </td>

      </tr>
    <% end %>
  </table>
</div>

