<div class= "container">
  <h1>Listing all Questions</h1>

  <%= @quote.body %>

<p>
  <% if admin_signed_in?%>
    <%= "I am an admin" %>
    <% elsif %>
    <% user_signed_in? %>
    <%= "I am a simple user" %>
    <% else %>
  <%= "I am a visitor" %>
  <% end %>

</p>

  <h3>Something to Ask?</h3>
  <%= form_for :question, :html => {:id => "new-question", "data-url" => questions_path} do |f| %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </p>


    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body, class: "form-control" %>
    </p>

    <p>
      <%= f.submit "Ask", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
</div>

<script id="new_question_template" type="text/x-handlebars-template">

    <tr>
      <td>{{response.title}}</td>
      <td>{{response.body}}</td>
      <td id="{{response.id}}">{{response.votes}}</td>
      <td><%= link_to "Show", "/questions/{{response.id}}" %></td>

      <td><%= link_to "Edit", "/questions/{{response.id}}/edit" %></td>
      <td><%= link_to 'Destroy', "/questions/{{response.id}}",
            method: :delete,
            data: {confirm: 'Are you sure'} %> </td>

      <td><%= button_tag "UpVote", 'data-url' => "/questions/{{response.id}}/upvote", :class =>"upvote"%></td>
      <td><%= button_tag "DownVote", 'data-url' => "/questions/{{response.id}}/downvote", :class =>"downvote"%></td>

    </tr>

</script>


<div class="container">

  <table>
    <tr>
      <th> Question Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th> Votes </th>

    </tr>

    <% @questions.reverse.each do |question| %>
      <tr>
        <td> <%= question.title %> </td>
      </tr>

      <tr id="results">
        <td> <%= question.body %> </td>

        <td>
          <%= link_to question_path(question),class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-log-in">Show</i>
          <% end %>
        </td>

        <td>
          <%= link_to edit_question_path(question), class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-edit">Edit</i>
          <% end %>
         </td>

        <td> <%= link_to question_path(question),
              method: :delete,
              data: {confirm: 'Are you sure'},
              class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-trash"></i>
              <% end %>
        </td>

        <td>
          <%= button_tag('data-url' => upvote_question_path(question), :class =>"upvote btn btn-default") do %>
            <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
        </td>

       <td id= "<%= question.id %>"> <%= question.votes %> </td>

        <td>
          <%= button_tag('data-url' => downvote_question_path(question), :class =>"downvote btn btn-default") do%>
            <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
        </td>

      </tr>
    <% end %>
  </table>
</div>

