<h1>Listing all Questions</h1>



<%= form_for :question, :html => {:id => "new-question", "data-url" => questions_path} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


<script id="new_question_template" type="text/x-handlebars-template">

<div>
<table>
    <tr>
      <th> Title </th>
      <th> Text </th>
      <th> Votes </th>
    </tr>

    <tr>
      <td>{{response.title}}</td>
      <td>{{response.body}}</td>
      <td id="{{response.id}}">{{response.votes}}</td>
      <td><%= link_to "Show", "/questions/{{response.id}}" %></td>

      <td><%= link_to "Edit", "/questions/{{response.id}}/edit" %></td>
      <td><%= link_to 'Destroy', "/questions/{{response.id}}",
            method: :delete,
            data: {confirm: 'Are you sure'} %> </td>

      <td><%= button_to "UpVote", "", 'data-url' => "/questions/{{response.id}}/upvote", :class =>"upvote"%></td>
      <td><%= button_to "DownVote", "", 'data-url' => "/questions/{{response.id}}/downvote", :class =>"downvote"%></td>



    </tr>

</table>
</div>

</script>


<div id="results"></div>


