
<!-- ######################     DISPLAY QUESTION INFORMATION   ############################ -->

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.body %>
</p>

<strong>Votes:</strong>
  <p id= "<%= @question.id %>"> <%= @question.votes %> </p>

<p> <%= button_tag("UpVote", 'data-url' => upvote_question_path(@question), :class =>"upvote")%> </p>
<p> <%= button_tag("DownVote", 'data-url' => downvote_question_path(@question), :class =>"downvote")%> </p>

<!-- ######################     DISPLAY QUESTION ANSWERS   ############################ -->

<h2>Answer</h2>
<% @question.answers.each do |answer| %>

  <strong>Title:</strong>
  <p> <%= answer.title %></p>

  <strong>Answer:</strong>
  <p><%= answer.body %> </p>

  <strong>Votes:</strong>
  <p id= "<%= answer.id %>"> <%= answer.votes %> </p>

  <p> <%= link_to 'Edit', edit_question_answer_path(answer, :question_id=>@question.id) %> </p>
  <p> <%= link_to 'Destroy', question_answer_path(answer, :question_id=>@question.id),
              method: :delete,
              data: {confirm: 'Are you sure'} %></p>

  <td> <%= button_tag("UpVote", 'data-url' => upvote_question_answer_path(answer, :question_id=>@question.id), :class =>"answerupvote")%> </td>
  <td> <%= button_tag("DownVote", 'data-url' => downvote_question_answer_path(answer, :question_id=>@question.id), :class =>"answerdownvote")%> </td>

<% end %>

<!-- ######################     NEW ANSWER FORM    ############################ -->

<h2 id = "results">Add Answer:</h2>

<%= form_for([@question, @question.answers.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', questions_path %>
<%= link_to 'Edit', edit_question_path(@question) %>

<!-- ######################      Template for Ajax    ######################## -->

<script id="new_answer_template" type="text/x-handlebars-template">

  <p>Title:{{answerResponse.title}}</p>
  <p>Answer:{{answerResponse.body}}</p>

  <p id="{{answerResponse.id}}">Votes:{{answerResponse.votes}}</p>

  <p><%= link_to "Edit", "/questions/{{answerResponse.question_id}}/answers/{{answerResponse.id}}/edit" %></p>
  <p><%= link_to 'Destroy', "/questions/{{answerResponse.question_id}}/answers/{{answerResponse.id}}",
        method: :delete,
        data: {confirm: 'Are you sure'} %> </p>

  <td><%= button_tag "UpVote", 'data-url' => "/questions/{{answerResponse.question_id}}/answers/{{answerResponse.id}}/upvote", :class =>"upvote"%></td>
  <td><%= button_tag "DownVote", 'data-url' => "/questions/{{answerResponse.question_id}}/answers/{{answerResponse.id}}/downvote", :class =>"downvote"%></td>
</script>


